h1 {
  text-transform: capitalize;
  font-size: 15vw;
  font-family: "MuseoModerno";
  color: #1C1A1C;
}

h2 {
  font-family: "calling-code", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1C1A1C;
}
body {
  background-color: #EFEEEB;
  padding-bottom: 6%; 
  overflow-x: hidden; 
}

p{
  margin-top:0.5%;
  margin-bottom:0.5%;
}

.container{
padding:2%;
max-width: 100%;
display: flex;
margin: none;
height: auto;
position: relative;
}


/* heading text colour and size variations */

.white-heading{
  text-transform: capitalize;
  font-size: 8vw;
  font-family: "MuseoModerno";
  color:#1C1A1C;
  font-weight:800;
  line-height: 100%;
}
.white-subheading{
  padding-top:5%;
  text-transform: capitalize;
  font-size: 4.5vw;
  font-family: "calling-code", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#1C1A1C;
  font-weight:300;
  line-height: 0%;
  text-transform:none;
}

/* body text colour variations */
.white-body {
  font-family: "calling-code", sans-serif;
  font-weight: 400;
  font-style: normal;
color: #1C1A1C;
font-weight:400;
}

/* links */
a{
color:#f7f7ff;
text-decoration:none;
padding: 1%;
}
.pagelink{
  background-color: #1C1A1C;
  border-radius: 50px;
  margin-top: 5%;
  border-width: 2px;
  border-style:solid;
  border-color: #1C1A1C;
  border-image: none;
}

.pagelink:hover {
  background-color: #ffffff;
  color:#1C1A1C;
  border-width: 2px;
  border-style:solid;
  border-color: #1C1A1C;
  border-image: none;
}

/* social media icons */
.fa {
font-size: 30px;
width: 15px;
padding-right: 15px;
padding-left: 10px;
text-align: left;
text-decoration: none;
color: rgb(255, 255, 255);
}

/* button */

.submitbutton {
  background-color: #1C1A1C;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  box-shadow:none;
  border-width: 2px;
  border-style:solid;
  border-color: #1C1A1C;
  border-image: none;
}
.submitbutton:hover {
  background-color: #ffffff;
  color:#1C1A1C;
  border-width: 2px;
  border-color:#1C1A1C;
}

/* navbar */
.navbar{
 padding-right:2%;
 padding-bottom:0%;
 padding-top:0%;
 padding-left:2%;
}

/* footer */
.footer{
 position:fixed;
 width:100%;
 bottom:0;
 right:0;
 padding-right:2%;
 padding-bottom:1%;
 padding-top:1%;
 background-color: #1C1A1C;
 border-radius: 50px;
 z-index: 1000;
}


.image1 {
  position: absolute; /* or position: fixed; */
  z-index: -1; /* This places the image behind other content */
  top: 0; /* Adjust this according to your layout */
  left: -40%;
  width: 100%; /* Ensure the image covers the entire width */
  height: auto; /* Maintain aspect ratio */
  opacity: 0.75;
}
.image2 {
  position: absolute; /* or position: fixed; */
  z-index: -1; /* This places the image behind other content */
  top: 0; /* Adjust this according to your layout */
  right: -55%;
  width: 100%; /* Ensure the image covers the entire width */
  height: auto; /* Maintain aspect ratio */
  opacity: 0.75;
}
.image3 {
  position: absolute; /* or position: fixed; */
  z-index: -1; /* This places the image behind other content */
  top: -200%; /* Adjust this according to your layout */
  left: 30%;
  width: 100%; /* Ensure the image covers the entire width */
  height: auto; /* Maintain aspect ratio */
  opacity: 0.75;
}
.image4 {
  position: absolute; /* or position: fixed; */
  z-index: -1; /* This places the image behind other content */
  top: -280%; /* Adjust this according to your layout */
  right: 10%;
  width: 100%; /* Ensure the image covers the entire width */
  height: auto; /* Maintain aspect ratio */
  opacity: 0.75;
}
.image5 {
  position: absolute; /* or position: fixed; */
  z-index: -1; /* This places the image behind other content */
  top: -2500%; /* Adjust this according to your layout */
  left: 40%;
  width: 100%; /* Ensure the image covers the entire width */
  height: auto; /* Maintain aspect ratio */
  transform: rotate(-15deg);
  opacity: 0.75;
}

.title {
  top: 0%; /* Adjust this according to your layout */
  left: 40%;
  width: 100%; /* Ensure the image covers the entire width */
  height: auto; /* Maintain aspect ratio */
  scale: 80%;
}



@media (min-width: 600px) {
  #story {
    width: 80%;
    height: 200%;
  }
}

@media (min-width: 900px) {
  #story {
    width: 60%;
    height: 200%;
  }
}

@media (min-width: 1200px) {
  #story {
    width: 50%;
    height: 200%;
  }
}


